In [49]:
# Imports
import pandas as pd
import chardet

In [54]:
movie_titles = pd.read_csv('movie_titles.txt', 
    encoding="ISO-8859-1", 
    sep = ',',
    usecols=[0, 1, 2])
display(movie_titles)

       Movie_ID    Year                                              Title
0             1  2003.0                                    Dinosaur Planet
1             2  2004.0                         Isle of Man TT 2004 Review
2             3  1997.0                                          Character
3             4  1994.0                       Paula Abdul's Get Up & Dance
4             5  2004.0                           The Rise and Fall of ECW
...         ...     ...                                                ...
17765     17766  2002.0  Where the Wild Things Are and Other Maurice Se...
17766     17767  2004.0                  Fidel Castro: American Experience
17767     17768  2000.0                                              Epoch
17768     17769  2003.0                                        The Company
17769     17770  2003.0                                       Alien Hunter

[17770 rows x 3 columns]

In [55]:
netflix_ratings = pd.read_csv('netflix_ratings.txt', 
    encoding="ascii", 
    sep = ' ', 
    header=None)
movie_count = netflix_ratings.iloc[:,0].nunique()
print("Number of movies:", movie_count)

Number of movies: 17770

In [56]:
# Used to select only a subset of the entire dataset of ranked movies
netflix_ratings = netflix_ratings[netflix_ratings.iloc[:, 0].between(1, 500)]
netflix_ratings.columns = ["M_ID", "M_Year", "U_ID", "U_Rating", "U_Date"]
display(netflix_ratings)

         M_ID  M_Year     U_ID  U_Rating      U_Date
0           1  2003.0  1488844         3  2005-09-06
1           1  2003.0   822109         5  2005-05-13
2           1  2003.0   885013         4  2005-10-19
3           1  2003.0    30878         4  2005-12-26
4           1  2003.0   823519         3  2004-05-03
...       ...     ...      ...       ...         ...
2798699   500  2002.0   651950         4  2005-06-28
2798700   500  2002.0   924510         3  2005-07-12
2798701   500  2002.0   965381         3  2005-08-19
2798702   500  2002.0   822391         1  2004-11-04
2798703   500  2002.0  2082054         3  2005-06-22

[2798704 rows x 5 columns]

In [62]:
def get_usr_ratings(id):
    if netflix_ratings['U_ID'].isin([id]).any():
        temp_df = netflix_ratings[netflix_ratings['U_ID'] == id]
        merged_df = pd.merge(temp_df, movie_titles, left_on='M_ID', right_on='Movie_ID')
        merged_df.set_index('M_ID', inplace=True)
        merged_df["M_Year"] = merged_df["M_Year"].astype(int)
        merged_df["Year"] = merged_df["Year"].astype(int)
        display(merged_df)
    else:
        print("User with id", id, "does not exist. Try another one.")

## Get a specific user's ratings

In [64]:
get_usr_ratings(30878)
#get_usr_ratings(822391)

,M_Year,U_ID,U_Rating,U_Date,Movie_ID,Year,Title
M_ID,,,,,,,
1,2003,30878,4,2005-12-26,1,2003,Dinosaur Planet
5,2004,30878,1,2005-04-27,5,2004,The Rise and Fall of ECW
18,1994,30878,3,2004-10-19,18,1994,Immortal Beloved
28,2002,30878,3,2004-08-08,28,2002,Lilo and Stitch
30,2003,30878,4,2004-06-10,30,2003,Something's Gotta Give
44,1996,30878,5,2005-09-04,44,1996,Spitfire Grill
58,1996,30878,3,2005-01-22,58,1996,Dragonheart
81,1991,30878,3,2005-11-28,81,1991,Antarctica: IMAX
97,2002,30878,3,2005-09-23,97,2002,Mostly Martha
118,1985,30878,3,2005-02-14,118,1985,Rambo: First Blood Part II
165,1982,30878,4,2005-12-26,165,1982,Richard Pryor: Live on the Sunset Strip
166,1980,30878,4,2004-08-08,166,1980,Fame
189,1982,30878,4,2005-02-14,189,1982,Airplane II: The Sequel
191,2003,30878,4,2004-01-21,191,2003,X2: X-Men United
197,2004,30878,4,2005-01-19,197,2004,Taking Lives
232,1989,30878,5,2004-03-05,232,1989,Gross Anatomy
257,1973,30878,4,2004-08-19,257,1973,Charlotte's Web
262,1974,30878,4,2005-01-24,262,1974,Herbie Rides Again
268,1980,30878,2,2004-10-20,268,1980,The Final Countdown
269,1989,30878,4,2004-02-18,269,1989,Parenthood
285,1997,30878,3,2004-01-25,285,1997,The Devil's Own
299,2001,30878,4,2004-02-02,299,2001,Bridget Jones's Diary
312,2000,30878,3,2004-02-02,312,2000,High Fidelity
329,1999,30878,5,2004-01-21,329,1999,Dogma
330,1998,30878,3,2004-02-18,330,1998,Wild Things
331,1997,30878,4,2004-01-25,331,1997,Chasing Amy
357,2003,30878,4,2004-05-14,357,2003,House of Sand and Fog
413,2002,30878,4,2004-01-25,413,2002,Igby Goes Down
417,1986,30878,5,2004-12-14,417,1986,Transformers: Season 3: Part 1
420,1999,30878,3,2004-02-25,420,1999,Saturday Night Live: The Best of Dana Carvey
442,1988,30878,5,2004-03-06,442,1988,Mississippi Burning
443,2002,30878,5,2004-03-05,443,2002,Rabbit-Proof Fence
457,2004,30878,4,2004-10-14,457,2004,Kill Bill: Vol. 2
468,2003,30878,4,2004-05-14,468,2003,The Matrix: Revolutions
482,2002,30878,4,2005-06-09,482,2002,Frida
483,2001,30878,4,2004-01-21,483,2001,Rush Hour 2

In [72]:
new_df = netflix_ratings.groupby('M_ID')['U_Rating'].mean().reset_index(name='Avg_U_Rating')
avg_mov_ratings = pd.merge(new_df, movie_titles[['Movie_ID', 'Title']], left_on='M_ID', right_on='Movie_ID')
avg_mov_ratings = avg_mov_ratings[['M_ID', 'Avg_U_Rating', 'Title']]
display(avg_mov_ratings)

def get_avg_mov_rank(M_ID):
    if avg_mov_ratings['M_ID'].isin([M_ID]).any():
        display(avg_mov_ratings.loc[avg_mov_ratings["M_ID"] == M_ID])
    else:
         print("Movie with id", id, "does not exist. Try another one.")

     M_ID  Avg_U_Rating                                 Title
0       1      3.749543                       Dinosaur Planet
1       2      3.558621            Isle of Man TT 2004 Review
2       3      3.641153                             Character
3       4      2.739437          Paula Abdul's Get Up & Dance
4       5      3.919298              The Rise and Fall of ECW
..    ...           ...                                   ...
495   496      3.710638  Primus: Hallucino-Genetics Live 2004
496   497      3.478261             Broadway's Lost Treasures
497   498      4.067376                 Glory: Bonus Material
498   499      3.044921                       Under Suspicion
499   500      3.635338       Mail Call: The Best of Season 1

[500 rows x 3 columns]

## Get a movie's av

In [74]:
get_avg_mov_rank(5)

   M_ID  Avg_U_Rating                     Title
4     5      3.919298  The Rise and Fall of ECW