In [19]:
# Imports
import pandas as pd
import chardet

In [20]:
movie_titles = pd.read_csv('movie_titles.txt', 
    encoding="ISO-8859-1", 
    sep = ',',
    usecols=[0, 1, 2])
display(movie_titles)

       Movie_ID    Year                                              Title
0             1  2003.0                                    Dinosaur Planet
1             2  2004.0                         Isle of Man TT 2004 Review
2             3  1997.0                                          Character
3             4  1994.0                       Paula Abdul's Get Up & Dance
4             5  2004.0                           The Rise and Fall of ECW
...         ...     ...                                                ...
17765     17766  2002.0  Where the Wild Things Are and Other Maurice Se...
17766     17767  2004.0                  Fidel Castro: American Experience
17767     17768  2000.0                                              Epoch
17768     17769  2003.0                                        The Company
17769     17770  2003.0                                       Alien Hunter

[17770 rows x 3 columns]

In [21]:
netflix_ratings = pd.read_csv('netflix_ratings.txt', 
    encoding="ascii", 
    sep = ' ', 
    header=None)
movie_count = netflix_ratings.iloc[:,0].nunique()
print("Number of movies:", movie_count)

Number of movies: 16991

In [22]:
# Used to select only a subset of the entire dataset of ranked movies
netflix_ratings = netflix_ratings[netflix_ratings.iloc[:, 0].between(1, 500)]
netflix_ratings.columns = ["M_ID", "M_Year", "U_ID", "U_Rating", "U_Date"]
display(netflix_ratings)

         M_ID  M_Year       U_ID  U_Rating      U_Date
0           1  2003.0  1488844.0       3.0  2005-09-06
1           1  2003.0   822109.0       5.0  2005-05-13
2           1  2003.0   885013.0       4.0  2005-10-19
3           1  2003.0    30878.0       4.0  2005-12-26
4           1  2003.0   823519.0       3.0  2004-05-03
...       ...     ...        ...       ...         ...
2798699   500  2002.0   651950.0       4.0  2005-06-28
2798700   500  2002.0   924510.0       3.0  2005-07-12
2798701   500  2002.0   965381.0       3.0  2005-08-19
2798702   500  2002.0   822391.0       1.0  2004-11-04
2798703   500  2002.0  2082054.0       3.0  2005-06-22

[2798704 rows x 5 columns]

In [23]:
def get_usr_ratings(id):
    if netflix_ratings['U_ID'].isin([id]).any():
        temp_df = netflix_ratings[netflix_ratings['U_ID'] == id]
        merged_df = pd.merge(temp_df, movie_titles, left_on='M_ID', right_on='Movie_ID')
        merged_df.set_index('M_ID', inplace=True)
        merged_df["M_Year"] = merged_df["M_Year"].astype(int)
        merged_df["Year"] = merged_df["Year"].astype(int)
        display(merged_df)
    else:
        print("User with id", id, "does not exist. Try another one.")

## Get a specific user's ratings

In [24]:
#get_usr_ratings(30878)
get_usr_ratings(822109)

      M_Year      U_ID  U_Rating      U_Date  Movie_ID  Year            Title
M_ID
1       2003  822109.0       5.0  2005-05-13         1  2003  Dinosaur Planet

In [26]:
new_df = netflix_ratings.groupby('M_ID')['U_Rating'].mean().reset_index(name='Avg_U_Rating')
avg_mov_ratings = pd.merge(new_df, movie_titles[['Movie_ID', 'Title']], left_on='M_ID', right_on='Movie_ID')
avg_mov_ratings = avg_mov_ratings[['M_ID', 'Avg_U_Rating', 'Title']]
display(avg_mov_ratings)

def get_avg_mov_rank(M_ID):
    if avg_mov_ratings['M_ID'].isin([M_ID]).any():
        display(avg_mov_ratings.loc[avg_mov_ratings["M_ID"] == M_ID])
    else:
         print("Movie with id", id, "does not exist. Try another one.")

     M_ID  Avg_U_Rating                                 Title
0       1      3.749543                       Dinosaur Planet
1       2      3.558621            Isle of Man TT 2004 Review
2       3      3.641153                             Character
3       4      2.739437          Paula Abdul's Get Up & Dance
4       5      3.919298              The Rise and Fall of ECW
..    ...           ...                                   ...
495   496      3.710638  Primus: Hallucino-Genetics Live 2004
496   497      3.478261             Broadway's Lost Treasures
497   498      4.067376                 Glory: Bonus Material
498   499      3.044921                       Under Suspicion
499   500      3.635338       Mail Call: The Best of Season 1

[500 rows x 3 columns]

## Get a movie's average rating

In [27]:
get_avg_mov_rank(5)

   M_ID  Avg_U_Rating                     Title
4     5      3.919298  The Rise and Fall of ECW

## Create dataframe for PCA

In [41]:
#merging netflic ratings and movie titles (actually not useful at all)
merged_df = pd.merge(netflix_ratings, movie_titles, left_on='M_ID', right_on='Movie_ID')

#making data frame where all movie ratings are given in rows with all user ratings as cloumns
PCA_df = pd.pivot_table(merged_df, values='U_Rating', index='M_ID', columns='U_ID')

#droping all columns where all values are Nan. These columns are not useful to us.
#PCA_df = PCA_df.dropna(axis=1, how='all')

#Ended up dropping all columns where there are less then a fourt of the column with actual values, 
#dont know if i should actually do this, but it is easy to correct.
PCA_df = PCA_df.dropna(axis=1, thresh=len(PCA_df) / 4)

#replacing NaN with 0, to be able to calculate mean
PCA_df = PCA_df.fillna(0)

display(PCA_df)

U_ID,16272.0,57633.0,303948.0,305344.0,322009.0,387418.0,491531.0,504620.0,507603.0,525356.0,...,2147527.0,2237185.0,2238060.0,2291306.0,2297136.0,2439493.0,2457095.0,2537543.0,2606799.0,2625420.0
M_ID,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,0.0,1.0,3.0,1.0,5.0,2.0,0.0,2.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,5.0,0.0,0.0
2,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,2.0
3,4.0,4.0,0.0,2.0,0.0,2.0,0.0,0.0,0.0,0.0,...,1.0,4.0,0.0,2.0,0.0,1.0,1.0,0.0,2.0,0.0
4,2.0,0.0,2.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
496,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,3.0,2.0
497,0.0,4.0,0.0,1.0,0.0,3.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,2.0
498,0.0,0.0,0.0,3.0,0.0,3.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,4.0,0.0,0.0,0.0
499,3.0,1.0,3.0,3.0,3.0,2.0,4.0,1.0,1.0,0.0,...,0.0,3.0,5.0,1.0,0.0,1.0,3.0,4.0,3.0,2.0
500,0.0,0.0,4.0,2.0,0.0,0.0,0.0,0.0,1.0,0.0,...,2.0,0.0,0.0,1.0,0.0,1.0,2.0,5.0,0.0,2.0

## Make it column wise zero empirical mean (normalizing)

In [43]:
#Ensuring column wise zero empirical mean by subtracting the mean of each column from each value in the column.
normalized_PCA_df = PCA_df - PCA_df.mean(axis=0)
display(normalized_PCA_df)

U_ID,16272.0,57633.0,303948.0,305344.0,322009.0,387418.0,491531.0,504620.0,507603.0,525356.0,...,2147527.0,2237185.0,2238060.0,2291306.0,2297136.0,2439493.0,2457095.0,2537543.0,2606799.0,2625420.0
M_ID,,,,,,,,,,,,,,,,,,,,,
1,3.076,-0.878,-1.414,-0.8,1.958,-0.744,3.874,1.428,-0.482,1.222,...,-0.68,-0.976,-1.368,0.43,-0.452,-0.124,-0.806,4.28,-1.332,-0.822
2,-0.924,-0.878,-1.414,-0.8,-1.042,-0.744,-1.126,-0.572,0.518,-0.778,...,0.32,-0.976,-1.368,-0.57,-0.452,-0.124,-0.806,-0.72,-0.332,1.178
3,3.076,3.122,-1.414,0.2,-1.042,0.256,-1.126,-0.572,-0.482,-0.778,...,0.32,3.024,-1.368,1.43,-0.452,-0.124,0.194,-0.72,0.668,-0.822
4,1.076,-0.878,0.586,-0.8,-1.042,0.256,-1.126,-0.572,-0.482,-0.778,...,-0.68,-0.976,-1.368,0.43,-0.452,-0.124,-0.806,-0.72,-1.332,-0.822
5,-0.924,-0.878,-1.414,-0.8,-1.042,-0.744,-0.126,0.428,0.518,-0.778,...,0.32,-0.976,-1.368,-0.57,-0.452,-0.124,-0.806,-0.72,-0.332,-0.822
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
496,-0.924,-0.878,-1.414,-0.8,-1.042,-0.744,-1.126,-0.572,0.518,-0.778,...,0.32,-0.976,-1.368,-0.57,-0.452,-0.124,-0.806,0.28,1.668,1.178
497,-0.924,3.122,-1.414,-0.8,-1.042,1.256,-1.126,-0.572,0.518,-0.778,...,-0.68,-0.976,-1.368,-0.57,-0.452,-0.124,-0.806,-0.72,-1.332,1.178
498,-0.924,-0.878,-1.414,1.2,-1.042,1.256,-1.126,-0.572,-0.482,-0.778,...,-0.68,-0.976,-1.368,-0.57,-0.452,-0.124,3.194,-0.72,-1.332,-0.822
499,2.076,0.122,1.586,1.2,1.958,0.256,2.874,0.428,0.518,-0.778,...,-0.68,2.024,3.632,0.43,-0.452,-0.124,2.194,3.28,1.668,1.178
500,-0.924,-0.878,2.586,0.2,-1.042,-1.744,-1.126,-0.572,0.518,-0.778,...,1.32,-0.976,-1.368,0.43,-0.452,-0.124,1.194,4.28,-1.332,1.178

## Do the hard part